* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 14pt;
}

/* ---- Header classes ---- */

header {
  background: linear-gradient(
    rgba(13, 55, 64, 1) 0%,
    rgba(13, 55, 64, 0.8) 100%
  );
}

h1 {
  color: whitesmoke;
  font-size: 300%;
  font-weight: 700;
}

/* ------------------------ */

aside {
  margin-top: 45px;
}

#search-input {
  width: 70%;
}

#search-history {
  list-style: none;
  margin-top: 20px;
  padding-left: 0;
}

#search-history li {
  margin-bottom: 10px;
}

#search-history button {
  background: linear-gradient(
    rgba(13, 55, 64, 1) 0%,
    rgba(13, 55, 64, 0.8) 100%
  );
  color: whitesmoke;
  border-radius: 5px;
  border: none;
  padding: 10px;
  box-shadow: 4px 4px 5px gray;
  min-width: 150px;
}

#search-history button:hover {
  font-size: 104%;
  box-shadow: 6px 6px 5px gray;
  background-color: rgb(13, 55, 64);
}

h2 {
  font-size: 225%;
  font-weight: 700;
  text-align: center;
  background: linear-gradient(
    rgba(13, 55, 64, 1) 0%,
    rgba(13, 55, 64, 0.8) 100%
  );
  color: whitesmoke;
  padding: 15px;
  border-radius: 5px;
}

h4 {
  font-weight: 700;
  text-align: center;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.temperature {
  font-size: 200%;
  font-weight: 600;
}

/* ----------------------------------------------- */

@media screen and (max-width: 1580px) {
  aside {
    width: 30% !important;
  }
  main {
    width: 70% !important;
  }
}

@media screen and (max-width: 992px) {
  aside {
    width: 100% !important;
  }

  main {
    width: 100% !important;
  }

  #search-input {
    width: 80%;
  }

  #search-history {
    display: flex;
    flex-wrap: wrap;
  }
  #search-history li {
    margin-right: 10px;
  }
}
